ICP nodered flows.json
[{"id":"640adec.1032a2","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3f57a46c.9833f4","type":"ibmiot in","z":"640adec.1032a2","authentication":"apiKey","apiKey":"5ca28930.a1b93","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1711","applicationId":"","deviceType":"rsip","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":120,"wires":[["d9bb72fd.2045e8","af4de22d.70e538","554a112a.08f4f","bd17083e.2f3eb8"]]},{"id":"d9bb72fd.2045e8","type":"debug","z":"640adec.1032a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":535,"y":123,"wires":[]},{"id":"af4de22d.70e538","type":"function","z":"640adec.1032a2","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":315,"y":203,"wires":[["d9bb72fd.2045e8","d1793064.da2dd"]]},{"id":"554a112a.08f4f","type":"function","z":"640adec.1032a2","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"x":285,"y":283,"wires":[["d9bb72fd.2045e8","d70d3cb.fda074"]]},{"id":"bd17083e.2f3eb8","type":"function","z":"640adec.1032a2","name":"animal","func":"global.set('animal',msg.payload.d.animal)\nreturn {payload:msg.payload.d.animal};","outputs":1,"noerr":0,"x":305,"y":363,"wires":[["d9bb72fd.2045e8","6aa07e18.fe433"]]},{"id":"d1793064.da2dd","type":"ui_gauge","z":"640adec.1032a2","name":"temperature","group":"509eade7.b1b5ac","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":555,"y":203,"wires":[]},{"id":"d70d3cb.fda074","type":"ui_gauge","z":"640adec.1032a2","name":"humidity","group":"509eade7.b1b5ac","order":6,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":545,"y":283,"wires":[]},{"id":"6aa07e18.fe433","type":"ui_gauge","z":"640adec.1032a2","name":"animal","group":"509eade7.b1b5ac","order":7,"width":0,"height":0,"gtype":"gage","title":"Animal","label":"number","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":535,"y":363,"wires":[]},{"id":"94ba06b2.a07bc","type":"http request","z":"640adec.1032a2","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://28b096b5-d5c8-4ea1-8ac6-3142ff57803b-bluemix.cloudant.com/animal/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":580,"wires":[["1cb00d9b.b9c252","9ccec683.02e2d"]]},{"id":"e2248de.152e2f","type":"inject","z":"640adec.1032a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":580,"wires":[["94ba06b2.a07bc"]]},{"id":"1cb00d9b.b9c252","type":"debug","z":"640adec.1032a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":580,"wires":[]},{"id":"9ccec683.02e2d","type":"function","z":"640adec.1032a2","name":"image","func":"\nglobal.set('image',msg.payload.rows[0].doc.link)\nreturn {payload:msg.payload.rows[0].doc.link};","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["1cb00d9b.b9c252","33799fb0.0961"]]},{"id":"33799fb0.0961","type":"ui_template","z":"640adec.1032a2","group":"509eade7.b1b5ac","name":"","order":8,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"460\" width=\"250\"/img>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":620,"wires":[[]]},{"id":"6ba92e55.c67dd","type":"http in","z":"640adec.1032a2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["9f0f8db7.9e4098"]]},{"id":"683f05cd.034e6c","type":"http response","z":"640adec.1032a2","name":"","statusCode":"","headers":{},"x":470,"y":420,"wires":[]},{"id":"9f0f8db7.9e4098","type":"function","z":"640adec.1032a2","name":"httpresponse","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity'),\"animal\":global.get('animal')}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["683f05cd.034e6c"]]},{"id":"4e05b160.ef74e","type":"ui_button","z":"640adec.1032a2","name":"","group":"509eade7.b1b5ac","order":3,"width":0,"height":0,"passthru":false,"label":"Servo motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Servomotoron\"}","payloadType":"json","topic":"","x":240,"y":780,"wires":[["62b19f64.c307e","96138809.871d"]]},{"id":"5ee05346.469234","type":"ui_button","z":"640adec.1032a2","name":"","group":"509eade7.b1b5ac","order":4,"width":0,"height":0,"passthru":false,"label":"Servo motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Servomotoroff\"}","payloadType":"json","topic":"","x":260,"y":860,"wires":[["62b19f64.c307e","96138809.871d"]]},{"id":"62b19f64.c307e","type":"debug","z":"640adec.1032a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":840,"wires":[]},{"id":"5790bbb9.ed3634","type":"http in","z":"640adec.1032a2","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":220,"y":980,"wires":[["4916dba8.815a7c"]]},{"id":"a2d93310.a2b3a8","type":"http response","z":"640adec.1032a2","name":"","statusCode":"","headers":{},"x":630,"y":900,"wires":[]},{"id":"4916dba8.815a7c","type":"function","z":"640adec.1032a2","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":980,"wires":[["a2d93310.a2b3a8","2cf8a168.930426","96138809.871d"]]},{"id":"2cf8a168.930426","type":"debug","z":"640adec.1032a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":980,"wires":[]},{"id":"96138809.871d","type":"ibmiot out","z":"640adec.1032a2","authentication":"apiKey","apiKey":"5ca28930.a1b93","outputType":"cmd","deviceId":"1711","deviceType":"rsip","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":1080,"wires":[]},{"id":"ec3b14a.7ca2de8","type":"http in","z":"640adec.1032a2","name":"","url":"/imglink","method":"get","upload":false,"swaggerDoc":"","x":110,"y":660,"wires":[["c2017591.bc27e"]]},{"id":"c2017591.bc27e","type":"function","z":"640adec.1032a2","name":"httpresponse","func":"msg.payload={\"link\":global.get('image')}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":680,"wires":[["234f856f.8bcec2"]]},{"id":"234f856f.8bcec2","type":"http response","z":"640adec.1032a2","name":"","statusCode":"","headers":{},"x":530,"y":720,"wires":[]},{"id":"5ca28930.a1b93","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"plwr0o.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"509eade7.b1b5ac","type":"ui_group","z":"","name":"Intelligent Crop Protection","tab":"e0afc7f6.cc0978","order":1,"disp":true,"width":"6","collapse":false},{"id":"e0afc7f6.cc0978","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]